<style>
* {font-family:sans-serif;}
p {text-align:justify;}
</style>

<h2>Apology statement</h2>

<p>Recently, <span style="color:red">MINISO's "Japanese designer brand" marketing behavior has sparked discussions and criticisms from netizens, causing emotional harm to consumers.</span> We are deeply ashamed and remorseful, and hereby sincerely apologize!</p>

<p>MINISO is a retail enterprise rooted in China and developing globally. From the end of 2015 to 2018, MINISO was in the early stage of global development. <span style="color:red">It hired Japanese designer Junya Miyake as the chief designer, and promoted it as a "Japanese designer brand". In the early stage of the company's development, it experienced wrong brand positioning and Marketing practices. It has gone through a detour.</span></p>

<p>Facing the problem head-on, and being brave to take on it, can solve the problem. <span style="color:red">Thanks to the media and the public for their supervision and encouragement, our company has conducted in-depth self-examination and started rectification as soon as possible.</span> The specific rectification measures are as follows:</p>

<p>1. <span style="color:red">Remove elements related to Japanese designer brands.</span> As early as the end of 2019, <span style="color:red">the company began to promote the work of de-Japanization</span>, and upgraded the brand positioning to a "good life collection store". In January 2020, <span style="color:red">the company started to replace shopping bags with Japanese elements</span>. From October 2021 to March 2022, the renovation of the doors of more than 3,100 stores in China will be completed successively, and the logos will be replaced with Chinese logos. During the same period, the <span style="color:red">de-Japanization</span> of the doors, interior decoration, product labels, and promotional materials of more than 1,900 overseas stores will be carried out. Rectification, all rectification work will be completed before March 31, 2023.</p>

<p>2. <span style="color:red">Responsible persons will be held accountable.</span> During the self-examination process, we deeply realized that the company had serious mistakes in overseas expansion, promotion, operation management, and other work in the early stage. After discussion and decision by the management of MINISO, <span style="color:red">an internal punishment was imposed on the relevant executives.</span></p>

<p>3. Overseas social media accounts will be managed by the headquarters. The company has decided to withdraw all brand social media accounts independently operated by agents, strictly review and publish content, and <span style="color:red">do a good job of exporting correct Chinese culture and values</span>.</p>

<p>MINISO is a Chinese company from beginning to end, and it wants to be an upright Chinese brand. MINISO will continue to convey the concept of a better life pursued by the Chinese through innovative products, integrate Chinese culture and trend elements into products, help national trendy consumption, <span style="color:red">promote Chinese culture</span>, and represent Chinese retail brands in the global consumer market.</p>

<p>MINISO<br/>
18 Aug 2022</p>
